body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
}

a.nav-link {
    cursor: pointer;
}

.container {
    margin-top: 400px;
    margin-bottom: 50px;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    padding: 40px;
}

p {
    color: #999;
}

.field {
    text-align: right;
}

.field-value {
    color: #007bff;
}

hr {
    border: none;
    border-top: 3px double #aaa;
    color: #aaa;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

hr:after {
    background: #000;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
